<a href="https://colab.research.google.com/github/Deni1019/Bootcamp-Caracteristicas-del-mercado-energ-tico/blob/main/DashBoard.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
pip install streamlit plotly pandas seaborn matplotlib

Requirement already satisfied: streamlit in /usr/local/lib/python3.11/dist-packages (1.48.1)
Requirement already satisfied: plotly in /usr/local/lib/python3.11/dist-packages (5.24.1)
Requirement already satisfied: pandas in /usr/local/lib/python3.11/dist-packages (2.2.2)
Requirement already satisfied: seaborn in /usr/local/lib/python3.11/dist-packages (0.13.2)
Requirement already satisfied: matplotlib in /usr/local/lib/python3.11/dist-packages (3.10.0)
Requirement already satisfied: altair!=5.4.0,!=5.4.1,<6,>=4.0 in /usr/local/lib/python3.11/dist-packages (from streamlit) (5.5.0)
Requirement already satisfied: blinker<2,>=1.5.0 in /usr/local/lib/python3.11/dist-packages (from streamlit) (1.9.0)
Requirement already satisfied: cachetools<7,>=4.0 in /usr/local/lib/python3.11/dist-packages (from streamlit) (5.5.2)
Requirement already satisfied: click<9,>=7.0 in /usr/local/lib/python3.11/dist-packages (from streamlit) (8.2.1)
Requirement already satisfied: numpy<3,>=1.23 in /usr/local/lib/python3.11/dist-packages (from streamlit) (2.0.2)
Requirement already satisfied: packaging<26,>=20 in /usr/local/lib/python3.11/dist-packages (from streamlit) (25.0)
Requirement already satisfied: pillow<12,>=7.1.0 in /usr/local/lib/python3.11/dist-packages (from streamlit) (11.3.0)
Requirement already satisfied: protobuf<7,>=3.20 in /usr/local/lib/python3.11/dist-packages (from streamlit) (5.29.5)
Requirement already satisfied: pyarrow>=7.0 in /usr/local/lib/python3.11/dist-packages (from streamlit) (18.1.0)
Requirement already satisfied: requests<3,>=2.27 in /usr/local/lib/python3.11/dist-packages (from streamlit) (2.32.3)
Requirement already satisfied: tenacity<10,>=8.1.0 in /usr/local/lib/python3.11/dist-packages (from streamlit) (9.1.2)
Requirement already satisfied: toml<2,>=0.10.1 in /usr/local/lib/python3.11/dist-packages (from streamlit) (0.10.2)
Requirement already satisfied: typing-extensions<5,>=4.4.0 in /usr/local/lib/python3.11/dist-packages (from streamlit) (4.14.1)
Requirement already satisfied: watchdog<7,>=2.1.5 in /usr/local/lib/python3.11/dist-packages (from streamlit) (6.0.0)
Requirement already satisfied: gitpython!=3.1.19,<4,>=3.0.7 in /usr/local/lib/python3.11/dist-packages (from streamlit) (3.1.45)
Requirement already satisfied: pydeck<1,>=0.8.0b4 in /usr/local/lib/python3.11/dist-packages (from streamlit) (0.9.1)
Requirement already satisfied: tornado!=6.5.0,<7,>=6.0.3 in /usr/local/lib/python3.11/dist-packages (from streamlit) (6.4.2)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.11/dist-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.11/dist-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.11/dist-packages (from pandas) (2025.2)
Requirement already satisfied: contourpy>=1.0.1 in /usr/local/lib/python3.11/dist-packages (from matplotlib) (1.3.3)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.11/dist-packages (from matplotlib) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in /usr/local/lib/python3.11/dist-packages (from matplotlib) (4.59.0)
Requirement already satisfied: kiwisolver>=1.3.1 in /usr/local/lib/python3.11/dist-packages (from matplotlib) (1.4.9)
Requirement already satisfied: pyparsing>=2.3.1 in /usr/local/lib/python3.11/dist-packages (from matplotlib) (3.2.3)
Requirement already satisfied: jinja2 in /usr/local/lib/python3.11/dist-packages (from altair!=5.4.0,!=5.4.1,<6,>=4.0->streamlit) (3.1.6)
Requirement already satisfied: jsonschema>=3.0 in /usr/local/lib/python3.11/dist-packages (from altair!=5.4.0,!=5.4.1,<6,>=4.0->streamlit) (4.25.0)
Requirement already satisfied: narwhals>=1.14.2 in /usr/local/lib/python3.11/dist-packages (from altair!=5.4.0,!=5.4.1,<6,>=4.0->streamlit) (2.1.0)
Requirement already satisfied: gitdb<5,>=4.0.1 in /usr/local/lib/python3.11/dist-packages (from gitpython!=3.1.19,<4,>=3.0.7->streamlit) (4.0.12)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.11/dist-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Requirement already satisfied: charset-normalizer<4,>=2 in /usr/local/lib/python3.11/dist-packages (from requests<3,>=2.27->streamlit) (3.4.3)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.11/dist-packages (from requests<3,>=2.27->streamlit) (3.10)
Requirement already satisfied: urllib3<3,>=1.21.1 in /usr/local/lib/python3.11/dist-packages (from requests<3,>=2.27->streamlit) (2.5.0)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.11/dist-packages (from requests<3,>=2.27->streamlit) (2025.8.3)
Requirement already satisfied: smmap<6,>=3.0.1 in /usr/local/lib/python3.11/dist-packages (from gitdb<5,>=4.0.1->gitpython!=3.1.19,<4,>=3.0.7->streamlit) (5.0.2)
Requirement already satisfied: MarkupSafe>=2.0 in /usr/local/lib/python3.11/dist-packages (from jinja2->altair!=5.4.0,!=5.4.1,<6,>=4.0->streamlit) (3.0.2)
Requirement already satisfied: attrs>=22.2.0 in /usr/local/lib/python3.11/dist-packages (from jsonschema>=3.0->altair!=5.4.0,!=5.4.1,<6,>=4.0->streamlit) (25.3.0)
Requirement already satisfied: jsonschema-specifications>=2023.03.6 in /usr/local/lib/python3.11/dist-packages (from jsonschema>=3.0->altair!=5.4.0,!=5.4.1,<6,>=4.0->streamlit) (2025.4.1)
Requirement already satisfied: referencing>=0.28.4 in /usr/local/lib/python3.11/dist-packages (from jsonschema>=3.0->altair!=5.4.0,!=5.4.1,<6,>=4.0->streamlit) (0.36.2)
Requirement already satisfied: rpds-py>=0.7.1 in /usr/local/lib/python3.11/dist-packages (from jsonschema>=3.0->altair!=5.4.0,!=5.4.1,<6,>=4.0->streamlit) (0.27.0)

In [ ]:
import streamlit as st
import plotly.express as px
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import plotly.graph_objects as go
from plotly.subplots import make_subplots
from datetime import datetime, timedelta
import numpy as np

In [ ]:
np.random.seed(42)
fechas = pd.date_range('2023-01-01', '2024-12-31', freq = 'D')
n_productos = ['Laptop','Mouse','Teclado','Monitor','Auriculares']
regiones = ['Norte', 'Sur', 'Este', 'Oeste', 'Centro']

In [ ]:
print(len(fechas))

731

In [ ]:
data = []
for fecha in fechas:
    for _ in range(np.random.poisson(10)):
       data.append(
           {
               'Fecha': fecha,
               'Producto': np.random.choice(n_productos),
               'Region': np.random.choice(regiones),
               'cantidad': np.random.randint(1, 6),
               'precio_unitario': np.random.uniform(50, 1500),
               'vendedor': f'Vendedor_{np.random.randint(1,21)}'
           }
       )

In [ ]:
df = pd.DataFrame(data)
df['venta_total'] = df['cantidad'] * df['precio_unitario']
print(df)

          Fecha     Producto  Region  cantidad  precio_unitario     vendedor  \
0    2023-01-01        Mouse    Este         3       715.910893   Vendedor_4
1    2023-01-01      Teclado  Centro         2      1096.898220   Vendedor_6
2    2023-01-01        Mouse   Oeste         5       945.348189  Vendedor_12
3    2023-01-01       Laptop   Norte         3       937.186697  Vendedor_10
4    2023-01-01      Monitor   Oeste         3       604.569887  Vendedor_20
...         ...          ...     ...       ...              ...          ...
7248 2024-12-31      Teclado     Sur         5       210.839857   Vendedor_8
7249 2024-12-31      Monitor    Este         5       951.901559   Vendedor_6
7250 2024-12-31  Auriculares   Oeste         2      1368.931861  Vendedor_17
7251 2024-12-31       Laptop    Este         1       133.324073  Vendedor_19
7252 2024-12-31       Laptop   Oeste         3       468.334214  Vendedor_15

      venta_total
0     2147.732680
1     2193.796440
2     4726.740945
3     2811.560092
4     1813.709662
...           ...
7248  1054.199284
7249  4759.507793
7250  2737.863722
7251   133.324073
7252  1405.002642

[7253 rows x 7 columns]

In [ ]:
df.head()

,Fecha,Producto,Region,cantidad,precio_unitario,vendedor,venta_total
0,2023-01-01,Mouse,Este,3,715.910893,Vendedor_4,2147.732680
1,2023-01-01,Teclado,Centro,2,1096.898220,Vendedor_6,2193.796440
2,2023-01-01,Mouse,Oeste,5,945.348189,Vendedor_12,4726.740945
3,2023-01-01,Laptop,Norte,3,937.186697,Vendedor_10,2811.560092
4,2023-01-01,Monitor,Oeste,3,604.569887,Vendedor_20,1813.709662

In [ ]:
print(df.describe())

                               Fecha     cantidad  precio_unitario  \
count                           7253  7253.000000      7253.000000
mean   2023-12-28 05:04:33.486833152     3.011995       771.204622
min              2023-01-01 00:00:00     1.000000        50.211363
25%              2023-06-30 00:00:00     2.000000       416.385460
50%              2023-12-26 00:00:00     3.000000       767.047548
75%              2024-06-25 00:00:00     4.000000      1121.608562
max              2024-12-31 00:00:00     5.000000      1499.962108
std                              NaN     1.421020       412.857448

       venta_total
count  7253.000000
mean   2324.939379
min      50.349268
25%     902.734548
50%    1865.436770
75%    3425.496465
max    7499.221834
std    1762.451173

In [ ]:
df_monthly = df.groupby(df['Fecha'].dt.to_period('M'))['venta_total'].sum().reset_index()
df_monthly['Fecha'] = df_monthly['Fecha'].astype(str)
print(df_monthly)

      Fecha    venta_total
0   2023-01  698236.092223
1   2023-02  771177.713696
2   2023-03  703929.404650
3   2023-04  681246.244939
4   2023-05  656314.326446
5   2023-06  665508.801351
6   2023-07  801100.457396
7   2023-08  769081.345479
8   2023-09  694692.878027
9   2023-10  654356.720898
10  2023-11  709220.022601
11  2023-12  717784.025912
12  2024-01  769067.345798
13  2024-02  654218.138239
14  2024-03  731737.821340
15  2024-04  673054.432722
16  2024-05  805671.131807
17  2024-06  651905.878060
18  2024-07  662690.293155
19  2024-08  695045.454070
20  2024-09  680720.866772
21  2024-10  651698.171159
22  2024-11  725161.500389
23  2024-12  639166.246043

In [ ]:
fig_